* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#header {
  background-color: rgb(107, 20, 0);
  color: #ffffff;
  text-align: center;
  margin: 0px;
  opacity: 0.9;
  filter: alpha(opacity=80);
  box-shadow: 5px 5px 5px rgb(17, 16, 17);
}

#DC {
  width: 85px;
  float: left;
  margin-left: 20px;
}

#Marvel {
  width: 85px;
  float: right;
  margin-right: 20px;
  box-shadow: 5px 5px 5px rgb(17, 16, 17);
}

h1 {
  font-size: 45px;
}
label {
  font-size: 18px;
}

#hero {
  margin: 5px;
}
#addHero {
  width: 100px;
  height: 35px;
  box-shadow: 5px 5px 5px rgb(17, 16, 17);
}

#SuperHeroSearch {
  padding: 15px 15px 15px 15px;
  margin: 0 auto;
  color: rgb(219, 209, 209);
  place-content: center;
}

#gifArea {
  clear: both;
  flex-wrap: wrap;
}
